.dashboard{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 4px 24px;
    border-bottom: 1px solid #eaeaea;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    &-left{
        display: flex;
        gap: 4px;
        align-items: center;
    }
    &-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.widgets-container{
    width: 100%;
    background-color: #f0f5fa;
    height: calc(100% - 60px);
    min-height: 100vh;
    padding: 12px 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .MuiButton-outlined{
        text-transform: capitalize;
    }
}

.add-widget-section{
    position: relative;
    height: 100vh;
    .sidebar-widget-header{
        display: flex;
        justify-content: space-between;
        padding: 4px 8px;
        background-color: rgb(5, 5, 75);
        color: white;
        height: 48px;
        align-items: center;
    }
    .sidebar-widget-body{
        padding: 0px 8px;
        .side-bar-title{
            font-size: 14px;
        }
    }
    .add-widget-footer{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 12px;
        border-top: 1px solid #eaeaea;
    }
}

.widget-board{
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.widget-button{
    text-transform: capitalize !important;
}

.refresh-button{
    .css-9tj150-MuiButton-endIcon{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}