.is-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-space-between{
    justify-content: space-between;
}

.aligh-item-center{
    align-items: center;
}

.font-500{
    font-weight: 500;
}
.cursor-pointer{
    cursor: pointer !important;
}

.gap-12{
    gap: 12px;
}